
<div class="home">
	<div class="homecontent">
		<center><img src="images/macbookcoding.png" / class="macbookpng"></center><br>
		<center><h1 class="title1"><span id="example4"></span></h1></center>
	<!-- 	<center><button type="button" class="button" onClick="document.getElementById('aboutme').scrollIntoView();"">Read More</button></center> -->


		<!-- <span id="typing"></span> -->
		<span id="example4"></span>
	</div>
	

</div>

<center><div class="arrow-down"></div></center>


<!-- About me section -->

<!-- <div class="about" id="aboutme">
	<center><h1 class="title2">About Me</h1></center>
	<center><span class="quote">Allow me to introduce myself...</span></center>

	<div class="aboutsection">
		<img src="/images/cameron.jpg" class="cameron"/>
	</div>

	<div class="aboutsection" >
		<p>
		Hello! My name is Cameron and I live in Atlanta. I'm obsessed with technology and even more obsessed with fixing all of my friend's gadgets. I started dabbling in HTML when I was 12 years old. As I grew older, I figured out what CSS was and started changing background colors and font. My skills have sharpened since then and I decided to go to school for front-end development.
		</p><br>

		<p>
		At The Iron Yard Atlanta, we focused primarly on <strong>HTML/CSS</strong> and <strong>JavaScript</strong>. We were trained to work in solo and team projects. My time there helped my skills evolve to what they are today. 
		</p>
	</div>
</div>
 -->



<!--  About me section bootstrap -->

<div class="container-fluid">
	<h1 class="title2 text-center">About Me</h1>

	<center><div class="row quote text-center">Allow me to introduce myself...</div></center>

	<div class="row">



		<div class="col-md-4 ">
			<img src="/images/cameron.jpg" class="img-responsive pull-right img-thumbnail" id="right">
		</div>


		<div class="col-md-4 text-center aboutsection">
			<p>
			Hello! My name is Cameron and I live in Atlanta. I'm obsessed with technology and even more obsessed with fixing all of my friend's gadgets. I started dabbling in HTML when I was 12 years old. As I grew older, I figured out what CSS was and started changing background colors and font. My skills have sharpened since then and I decided to go to school for front-end development.
			</p><br>

			<p>
			At The Iron Yard Atlanta, we focused primarly on <strong>HTML/CSS</strong> and <strong>JavaScript</strong>. We were trained to work in solo and team projects. My time there helped my skills evolve to what they are today. 
			</p>
		</div>
		<div class="col-md-4">
		</div>




	</div>

</div>


<!-- Skills Section -->

<!-- <center><div class="arrow-up"></div></center>
<div class="skills">
	<center><h1 class="title2">Skills</h1></center>
	<center><span class="quote">I've been developing my skill–set to focus on what’s most suited to getting the job done quickly and effectively.</span></center>
	<div class="bullets1">
		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>Angular</li>
		</ul>
	</div>

	<div class="bullets2">
		<ul>
			<li>Photoshop</li>
			<li>Wordpress</li>
			<li>Search Engine Optimization</li>
			<li>Social Media Marketing</li>
		</ul>
	</div>


</div>
<center><div class="arrow-down"></div></center> -->



<!-- BootStrap Columns -->

<center><div class="arrow-up"></div></center>
<div class="container-fluid skills">
	<h1 class="title2 text-center">Skills</h1>

	<div class="row quote text-center">I've been developing my skill–set to focus on what’s most suited to getting the job done quickly and effectively.</div>

	<div class="row">

<div class="col-md-1"></div>
		<div class="col-md-1"></div>
		<div class="col-md-2 col-xs-2"></div>
		<div class="col-md-2 col-xs-2 ">		
			<ul class="bullets1">
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>Angular</li>
			</ul>
		</div>
<div class="col-md-1 col-xs-2"></div>

		<div class="col-md-2 col-xs-2 ">		
			<ul class="bullets1">
				<li>Photoshop</li>
				<li>Wordpress</li>
				<li>Search Engine Optimization</li>
				<li>Social Media Marketing</li>
			</ul>
		</div>		
		<div class="col-md-2"></div>
		<div class="col-md-2"></div>
	</div>

</div>
<center><div class="arrow-down"></div></center>




<!-- Projects Section -->


<!-- <div class="projects" id="projects">
	<center><h1 class="title2">Projects I've Done</h1></center>
		<center>
		<div class="projectswrapper">
			<div class="projectbox">
				<img src="/images/ajr.jpg" class="screenshot" />

					<span class="rightspace"><a href="http://www.advancejunkremoval.com" target="_newblank">Demo</a></span>

			</div>
			<div class="projectbox">
				<img src="/images/hpub.jpg" class="screenshot" />


					<span class="rightspace"><a href="https://tiy-jeremyspringer-restaurant-mockup-.surge.sh/" target="_newblank">Demo</a></span> <a href="https://github.com/cameronzand/restaurant-mockup-" target="_newblank"><b>Code</b></a>
			</div>
			<div class="projectbox">
				<img src="/images/insuhgram.jpg" class="screenshot" />

					<span class="rightspace"><a href="http://tiy-jackstorrs-instagram-clone.surge.sh/#/" target="_newblank">Demo</a></span> <a href="https://github.com/cameronzand/instagram-clone" target="_newblank"><b>Code</b></a>
				
			</div>
			
			<div class="projectbox">
				<img src="/images/networkapp.jpg" class="screenshot" /><br>

					<span class="rightspace"><a href="http://tiy-cameronzandkarimi-network-frontend.surge.sh/#/login" target="_newblank" title="Must be viewed in iPhone 6 mode">Demo</a></span> <a href="https://github.com/cameronzand/network-frontend" target="_newblank"><b>Code</b></a>
				

		</div>
		</center>


</div>
 -->



<!-- Project Section Bootstrap -->

<div class="container-fluid">
	<h1 class="title2 text-center">Projects I've Done</h1>


	<div class="row">
		
		<div class="col-md-4">
			<img src="/images/ajr.jpg" class="img-responsive center-block" />
			<div class="text-center boldfont"><a href="http://www.advancejunkremoval.com" target="_newblank">Demo</a></div>

		</div>

		<div class="col-md-4">
			<img src="/images/hpub.jpg" class="img-responsive center-block" />
			<div class="text-center boldfont"><a href="https://tiy-jeremyspringer-restaurant-mockup-.surge.sh/" target="_newblank">
			<span class="rightspace">Demo</a></span> 
			<a href="https://github.com/cameronzand/restaurant-mockup-" target="_newblank">Code</a></div>

		</div>

		<div class="col-md-4">
			<img src="/images/insuhgram.jpg" class="img-responsive center-block" />
			<div class="text-center boldfont"><a href="http://tiy-jackstorrs-instagram-clone.surge.sh/#/" target="_newblank">
			<span class="rightspace">Demo</a></span> 
			<a href="https://github.com/cameronzand/instagram-clone" target="_newblank">Code</a></div>



		</div>


	<div class="row paddingprojects">

		<div class="col-md-2">
		</div>

		<div class="col-md-2">
		</div>


		<div class="col-md-4 upperpadding">
			<img src="/images/networkapp1.jpg" class="img-responsive center-block" />
			<div class="text-center boldfont"><a href="http://tiy-cameronzandkarimi-network-frontend.surge.sh/#/login" target="_newblank" title="Must be viewed in iPhone 6 mode">
			<span class="rightspace">Demo</a></span> 
			<a href="https://github.com/cameronzand/network-frontend" target="_newblank">Code</a></div>

		</div>

		<div class="col-md-2">
		</div>

		<div class="col-md-2">
		</div>


	</div>








	</div>










</div>









<center><div class="arrow-up-footer"></div></center>
<div class="footer1">
	<center>
	<a href="http://www.linkedin.com/in/cameronzand" target="_newblank"><img src="/images/linkedin.png" class="smallericon" /></a>
	<a href="http://www.github.com/cameronzand" target="_newblank"><img src="/images/github.png" class="smallericon" /></a>
	<a href="mailto:zand.cameron@gmail.com"><img src="/images/email.png" class="smallericon" /></a>
	</center>
</span>



