

<div class="home">
	<center><img src="images/macbook.png" / class="macbookpng"></center><br>
	<center><h1 class="title">Developer & First World Problem Solver</h1></center>
	<center><button type="button" class="button">Read More</button></center>

</div>



<div class="about">
	<center><h1 class="title2">About Me</h1></center>
	<center><span class="quote">Allow me to introduce myself...</span></center>

	<div class="aboutsection">
		<img src="/images/cameron.jpg" class="cameron"/>
	</div>

	<div class="aboutsection">
		<p>
		I'm obsessed with technology and even more obsessed with fixing all of my friend's gadgets. I started dabbling in HTML when I was 12 years old. As I grew older, I figured out what CSS was and started changing background colors and font. My skills have sharpened since then and I decided to go to school for front-end development.
		</p><br>

		<p>
		At The Iron Yard Atlanta, we focused primarly on HTML/CSS and JavaScript. We were trained to work in solo and team projects. 
		</p>
	</div>
</div>



<div class="skills">
	<center><h1 class="title2">Skills</h1></center>
	<center><span class="quote">I've been developing my skill–set to focus on what’s most suited to getting the job done quickly and effectively.</span></center>
	<div class="bullets1">
		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>Angular</li>
		</ul>
	</div>

	<div class="bullets2">
		<ul>
			<li>Photoshop</li>
			<li>Wordpress</li>
			<li>Search Engine Optimization</li>
			<li>Social Media Marketing</li>
		</ul>
	</div>
</div>

