

<div class="home">
	<center><img src="images/macbook.png" / class="macbookpng"></center><br>
	<center><h1 class="title">Developer & First World Problem Solver</h1></center>
	<center><button type="button" class="button">Read More</button></center>

</div>

<div class="skills">
	<center><h1 class="title2">Skills</h1></center>
	<center><span class="quote">I've been developing my skill–set to focus on what’s most suited to getting the job done quickly and effectively.</span></center>
	<div class="bullets1">
		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>Angular</li>
		</ul>
	</div>

	<div class="bullets2">
		<ul>
			<li>Photoshop</li>
			<li>Wordpress</li>
			<li>Search Engine Optimization</li>
			<li>Social Media Marketing</li>
		</ul>
	</div>
</div>

