<!-- <div class="main-content" ui-view>
</div> -->
<div>

	<nav class="topnav">


<!-- 		<span class="navcontact">

			<a href="http://www.linkedin.com/in/cameronzand" target="_newblank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
			<a href="http://www.github.com/cameronzand" target="_newblank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="mailto:zand.cameron@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

		</span> -->




		<span class="navlinks">
<!-- 			<span class="space"><a href="#/home">Home</a></span>


			<span class="space"><a href="http://github.com/cameronzand" target="_blank">Github</a></span> -->
			<span class="marginright">
			<a href="http://www.linkedin.com/in/cameronzand" target="_newblank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
			</span>

			<span class="marginright">
			<a href="http://www.github.com/cameronzand" target="_newblank"><i class="fa fa-github" aria-hidden="true"></i></a>
			</span>

			<span class="marginright">
			<a href="mailto:zand.cameron@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
			</span>

			<a href="/images/resume.pdf" target="_newblank"><i class="fa fa-folder-open-o" aria-hidden="true"></i></a>

		</span>

	</nav>


	

</div>

<div class="main-content"  ui-view>
 	</div>