<!-- <div class="main-content" ui-view>
</div> -->



<!-- Bootstrap Nav -->



<!-- <div class="navbar navbar-fixed-top navbar-inverse ">
	<div class="conatiner-fluid">
		<div class="navbar-collapse collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://www.linkedin.com/in/cameronzand" target="_newblank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
			</ul>

		</div>

	</div>

</div> -->


<div>


	<nav class="topnav nav-disappear">




		<span class="navlinks">

			<span class="marginright">
			<a href="http://www.linkedin.com/in/cameronzand" target="_newblank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
			</span>

			<span class="marginright">
			<a href="http://www.github.com/cameronzand" target="_newblank"><i class="fa fa-github" aria-hidden="true"></i></a>
			</span>

			<span class="marginright">
			<a href="mailto:zand.cameron@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
			</span>

			<a href="/images/resume.pdf" target="_newblank"><i class="fa fa-folder-open-o" aria-hidden="true"></i></a>

		</span>

	</nav>


</div>

<div class="main-content"  ui-view>
 	</div>